.botones{
    
	background-color: cadetblue;
	font-weight: bold;
	width: 80%;
	text-align: center;
	padding: 10px 0px;
	margin: 10px auto;
}

.botones a{
	text-decoration: none;
	color: white;
	display: flex;
}

.botones:hover{
	background-color: teal;
	cursor: pointer;
}

aside{
    display: flex;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 15px;
}

section{
    display: flex;
    flex: 70%;
    background-color: white;
    padding: 15px;
}